<div class="p-6 max-w-lg mx-auto space-y-4">
  <div class="text-right space-x-2">
    <button nz-button (click)="switchLang('en')">English</button>
    <button nz-button (click)="switchLang('bn')">বাংলা</button>
  </div>

  <h2 class="text-xl font-bold border-b pb-2">
    {{ "form.title" | translate }}
  </h2>

  <div>
    <label class="block font-bold text-sm text-gray-700 mb-1 truncate">
      {{ "form.employee.label" | translate }}
    </label>
    <input
      nz-input
      [(ngModel)]="name"
      [placeholder]="'form.employee.placeholder' | translate"
      class="w-full"
    />
  </div>
</div>

<p class="text-center">
  {{ "form.user.greeting" | translate }} &nbsp; {{ name }}
</p>
